/* Exempel
$theme-colors: (
  "white": rgb(255, 255, 255),
  "black": rgb(0, 0, 0),
  "dark-gray": rgb(34, 34, 34),
);


*/

$headerBaseSize: 2.625rem;
$headerSecondarySize: 1.438rem;
$headerFont: "PT Serif", Serif;
$paragraphFont: "Work Sans", sans-serif;
$paragraphFontSize: 0.75rem;
$red: #e5674e;
$brown: #2f2926;
$pink: #f3e4e1;

$headerBaseWeight: 700;

$headerBaseColor: $brown;
$landingBg: #38846d;
